extends layout

block content
  h1= title

  h2 User information
  p
  p #{user.displayName} is authenticated
  p Access token expire date and time: #{user._json.exp} (#{tokenExpDate})

  a(href='/') Home sweet home
  
    