extends layout

block content
  h1= title

  if !code
    h2 Welcome
    button <a href="/authorize">Log In</a>
  else
    p Greetings!
    p Parts of auth code "#{code}"
    p Parts of access token "#{access_token}"
    a(href="/") Home
    
